<div class="row">
  <div class="col-md-6">
      <app-add-post (submitAddPost)="onAddPost($event)"></app-add-post>
  </div>
  <div class="col-md-6">
    <app-line [publications]="publications$ | async"
              [selectedRequestsType]="selectedRequestsType"
              (submitComment)="onSubmitComment($event)"
              (submitCheckRequestType)="onCheckRequestType($event)"
              (submitRequestType)="onAddRequestType($event)">
    </app-line>
  </div>
</div>
