.clsComments div:nth-child(odd){
  background-color: #dae5f3;
}
.clsComments div:nth-child(even){
  background-color: none;
}

.no-publivation {
  font-size: 1.2em;
}

.line {
  border-left:1px solid rgba(0,0,0,.1);
  min-height: 500px
}

.line > div {
  margin-left: 60px;
  width: 100%;
}

.blankLine {
  margin-top: 50px;
}

.textarea-answer {
  resize: none;
  width: 100%;
  margin-top: 10px;
  height: 40px;
}

.textarea-post {
  resize: none;
  margin-top: 6px;
  height: 90px;
}

.comment {
  margin-top: 30px;
  border-right:1px solid rgba(0,0,0,.1);
  width: 100%;
  display:inline-block;
  border-radius: .25rem;
  padding: 5px;
}

.comment-message {
  margin-right:10px;
  float: right;
}

.comment-message-info {
  margin-right: 5px;
  font-size:0.7em;
  float: right
}

.textarea-request-description {
  resize: none;
  margin-top: 6px;
  height: 90px;
}

.block-request-type {
  width: 100%;
  display:inline-block;
  padding: 5px;
}

.block-add-request-type {
  margin-top: 5px;
  padding: 5px;
}
