

    <div class="row" class="line" *ngIf="publications != null">

        <ng-container *ngIf="publications.length > 0 then tmpPublication else tmpNoPublication"></ng-container>
        <ng-template #tmpPublication>

          <div class="blankLine" *ngFor="let publication of publications" >

            <ng-container *ngIf="publication.post then postTmp else requestTmp"></ng-container>
            <ng-template #postTmp>

                <div class="form-group" style="margin-top:15px">
                  <span>Post - Posted the {{publication.created | date}} - by {{publication.post.user.firstname}} {{publication.post.user.lastname}}</span>
                  <textarea class="form-control textarea-post" pInputTextarea disabled="true" >{{publication.post.message}}</textarea>
                </div>

                <div class="clsComments">
                  <ng-container *ngFor="let comment of publication.post.comments | sortById">
                    <ng-container > <!---*ngIf="comment.masterComment == null; else subComment" -->
                      <div class="comment">
                        <span class="comment-message">{{comment.message}}</span><br/>
                        <span class="comment-message-info">by {{comment.user.firstname}} {{comment.user.lastname}} at {{comment.created | date}}</span>
                      </div>
                    </ng-container>

                    <!--<ng-template #subComment>
                      <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
                        <span style="margin-right:10px; float: right;">{{comment.message}}</span><br/>
                        <span style="margin-right: 5px; font-size:0.7em; float: right">by {{comment.user.firstname}} {{comment.user.lastname}}</span>
                      </div>
                    </ng-template>-->

                  </ng-container>

                  <!--
                    Modifier DTO pour retourner comment.subComment. Pour les commentaires de niveau 2.
                    Ex:
                    - Post
                    -- Post.Comment // Commentaire n°1
                    --- Post.Comment.SubComment
                    -- Post.Comment // Commentaire n°2
                  -->
                </div>
                <div style="display: flow-root;">
                  <textarea InputTextarea class="textarea-answer" #comment></textarea>
                  <p-button label="Send" style="float: right;" (onClick)="submit(publication, comment.value)"></p-button>
                </div>
              </ng-template>

              <ng-template #requestTmp>
                  <div class="form-group" style="margin-top:15px">
                    <span>Request - Posted the {{publication.created | date}} - </span>
                    <span *ngIf="publication.request.start">From {{publication.request.start | date}} To {{publication.request.end | date}}</span>
                    <span *ngIf="!publication.request.start">I'm a survey</span>
                    <br/>
                    <span>by {{publication.request.user.firstname}} {{publication.request.user.lastname}}</span>
                    <textarea class="form-control textarea-request-description" pInputTextarea disabled="true" >{{publication.request.description}}</textarea>
                  </div>

                  <div>
                    <ng-container *ngFor="let type of publication.request.types | sortById">
                        <div class="block-request-type">
                          <p-checkbox name="groupRequestType" [value]="concatRequestRequestType(publication.request.id, publication.request.surveys, type)"
                            [label]="type.name" inputId="technology" [(ngModel)]="selectedRequestsType" (click)="checkRequestType(publication.request.id, type.id)">
                          </p-checkbox>
                          &nbsp;&nbsp;<span class="badge badge-info">{{nbRequest(publication.request, type)}}</span>
                        </div>
                    </ng-container>
                    <div class="block-add-request-type">
                        <label class="display-block">Add request type</label>
                        <input type="text" maxlength='25' pInputText #value/>
                        <p-button label="Add" (onClick)="addRequest(publication.request.id, value.value)"></p-button>
                      </div>
                  </div>
              </ng-template>
          </div>
        </ng-template>

        <ng-template #tmpNoPublication>
          <div class="no-publivation blankLine">No publication for the moment ...</div>
        </ng-template>

       <!--
          <div style="margin-top: 50px; width: 100%">
          <div class="form-group" style="margin-top:15px" id="test1">
            <span>By Charly Beaugrand</span><br/>
            <span>Due 23 Mai 2018 to 1 June 2018</span><br/>
            <span>Vacances</span><br/>
            <textarea class="form-control"pInputTextarea disabled="true" style="resize: none;" rows="3" cols="38">Je propose d'aller en Vendée. Des gens de chaud ?</textarea>
          </div>
          <div class="clsComments">
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right;" >Tu recherches le soleil ?</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Baptiste Tournaille</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right;">Moi je suis motivé pour y retourner :-D</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Mathieu Dahirel</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right;">Non pas spécialement</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Charly Beaugrand</span>
            </div>
            <div style="float:none;"></div>
          </div>
        </div>

        <div style="margin-top: 50px; width: 100%">
          <div style="margin-top:15px" id="test2">
            <span>By Baptiste Tournaille</span><br/>
            <span>15 Mai 2018</span><br/>
            <span>Bowling</span>
            <textarea class="form-control"pInputTextarea disabled="true" style="resize: none;" rows="3" cols="38">No comment.</textarea>
          </div>
          <div class="clsComments">
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">Vers 20h ?</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Baptiste Tournaille</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">Yes pour moi</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Mathieu Dahirel</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">Yep</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Charly Beaugrand</span>
            </div>
            <div style="float:none;"></div>
          </div>
        </div>

        <div style="margin-top: 50px; width: 100%">
          <div style="margin-top:15px" id="test3">
            <span>By Mathieu Dahirel</span><br/>
            <span>22 Mai 2018</span><br/>
            <span>Cinéma</span><br/>
            <textarea class="form-control"pInputTextarea disabled="true" style="resize: none;" rows="3" cols="38">Il y a le nouveau marvel !!!</textarea>
          </div>
          <div class="clsComments">
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">21h15 à la place du château ?</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Baptiste Tournaille</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">Comme d'habitude</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Mathieu Dahirel</span>
            </div>
            <div style="float:none;"></div>
            <div style="margin-top: 30px; border-right:1px solid rgba(0,0,0,.1); width: 100%; display:inline-block; border-radius: .25rem; padding: 5px;">
              <span style="margin-right:10px; float: right">Yop</span><br/>
              <span style="margin-right: 5px; font-size:0.7em; float: right">by Charly Beaugrand</span>
            </div>
            <div style="float:none;"></div>
          </div>
        </div>
      </div>

       -->
</div>
