<div>
  <div class="personal-information">
    <div class="item">
      <div class="avatar">
          <span></span>
          <div style="margin-top: 15px;">
              <p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" chooseLabel='Choose avatar'></p-fileUpload>
          </div>
      </div>

    </div>
    <div class="item">
      <label for="iptLastname">Lastname</label>
      <input pInputText type="text" class="form-control" id="iptLastname" maxlength='100'/>
    </div>
    <div class="item">
      <label for="iptFirstname">Firstname</label>
      <input pInputText type="text" class="form-control" id="iptFirstname" maxlength='100'/>
    </div>
    <div class="item">
      <label for="iptUsername">Username</label>
      <input pInputText type="text" class="form-control" id="iptUsername" maxlength='100'/>
    </div>
    <div class="item">
      <label for="iptBorn" class="display-block">Born</label>
      <p-calendar [showIcon]="true" [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
    </div>
    <div class="item">
      <label for="iptPassword" style="display: block;">Password</label>
      <input pPassword type="password" class="form-control" id="iptPassword" maxlength='50' [showPassword]='false'/>
    </div>
    <div class="item">
      <label for="iptPasswordVerificator">Password again</label>
      <input pPassword type="password" class="form-control" id="iptPasswordVerificator" maxlength='50' [showPassword]='false'/>
    </div>
    <div class="item save">
      <p-button label="Save" (onClick)="save()"></p-button>
    </div>
  </div>
</div>
