.personal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-information > .item {
  width: 400px;
}

.personal-information > .item >>> label::after{
  content: " *";
  color: red;
}

.avatar {
  height: 230px;
  width: 150px;
  margin: auto;
}

.avatar > span::after {
  display: flex;
  content: "Soon available";
  height: 170px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: grey;
}

.save {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
