<form [formGroup]="formAddPost" style="position:fixed">
  <div style="margin-top: 70px">

    <div class="row">
      <div class="form-group">
        <p-toggleButton onLabel="I'm a request" offLabel="I'm not a request"
            onIcon="pi pi-check" offIcon="pi pi-times" formControlName="request" (onChange)="switchRequest($event)"></p-toggleButton>
      </div>
    </div>
    <div class="row" *ngIf="ckRequest">
      <div class="form-group">
        <!--<label for="inptServey">Survey</label>
        <input type="checkbox" checked id="inptServey"/>-->
        <p-toggleButton onLabel="I'm a survey" offLabel="I'm not a survey"
            onIcon="pi pi-check" offIcon="pi pi-times" formControlName="survey" (onChange)="switchSurveyRequest($event)"></p-toggleButton>
        <span pTooltip="If I'm checked then I will be in the calendar." tooltipPosition="right" style="margin-left: 5px;"><i class="fas fa-info-circle" style="color: #007ad9;"></i></span>
      </div>
    </div>

    <ng-container *ngIf="ckRequest && !ckSurvey">

      <div class="row">
          <span style="color: red" *ngIf="(formAddPost.errors != null && formAddPost.errors['formDateIncorrect'])">{{formAddPost.errors['formDateIncorrect']}}</span>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="dateStartAtPost" class="display-block">Start at</label>
          <p-calendar [showIcon]="true" formControlName="start" [locale]="fr"></p-calendar>
        </div>
        <div style="width:50px;"></div>
        <div class="form-group">
          <label for="dateEndAtPost" class="display-block">End at</label>
          <p-calendar [showIcon]="true" formControlName="end"></p-calendar>
        </div>
      </div>

     <!-- <div class="row">
        <div class="form-group">-->
          <!-- Possibilité d'ajouter des "request", il serait préférable de donner une limite d'élément. 25 ? -->
          <!--  <label class="display-block">Requests</label>
          <p-dropdown [options]="requests$ | async" optionLabel="name" formControlName="selectedRequestType" editable="true" placeholder="Ajouter / Sélectionner"></p-dropdown>
          --> <!--<label for="slctRequest">Request</label>
          <select multiple class="form-control" id="slctRequest" style="width:200px" size="2"> <!-- Attribut "multiple" seulement pour les sondages -->
            <!-- <option>Bowling</option>
            <option>Cinema</option>
            <option>Vacances</option>
          </select> -->
       <!-- </div>
      </div>-->
    </ng-container>

    <div class="row">
      <div class="form-group">
        <!--<label for="txtaDescPost">Description</label>
        <textarea class="form-control" id="txtaDescPost" rows="3" cols="38"></textarea>-->
        <label class="display-block">Description</label>
        <textarea rows="5" cols="62" pInputTextarea style="resize: none;" formControlName="message"></textarea>
      </div>
    </div>

    <ng-container *ngIf="ckRequest">
      <div class="row">
        <div class="form-group">
          <label class="display-block">Add requests type</label>
          <input type="text" [(ngModel)]="propetierRequestType" [ngModelOptions]="{standalone: true}" maxlength='25' pInputText />
          <p-button [disabled]="propetierRequestType.length < 3 || propetierRequestType.length > 25" label="Add" (onClick)="addRequestType()"></p-button>
        </div>
      </div>
      <div class="row" >
        <div *ngFor='let requestType of requestsType; let i = index'>
          <span style='margin-right: 10px; color: red;'>{{requestType}} <i (click)="removeRequestType(i)">X</i></span>
        </div>
      </div>
    </ng-container>
    <div class="row" style="margin-top: 10px;">
      <p-button label="Submit" [disabled]="!formAddPost.valid || (formAddPost.errors != null && formAddPost.errors['formNotComplete'])" (onClick)="addPost()"></p-button>
    </div>
    <!--<div style="margin-top:15px">
      <div style="width:350px; border-top:1px solid rgba(0,0,0,.1);"></div>
      <a href="#test1">
        <span>Due 23 Mai 2018 to 1 June 2018</span><br/>
        <span>Vacances</span><br/>
        <span>Je propose d'aller en Vendée. Des gens de chaud ?</span>
      </a>
    </div>
    <div style="margin-top:15px">
      <div style="width:350px; border-top:1px solid rgba(0,0,0,.1);"></div>
      <a href="#test2">
        <span>15 Mai 2018</span><br/>
        <span>Bowling</span>
      </a>
    </div>
    <div style="margin-top:15px">
      <div style="width:350px; border-top:1px solid rgba(0,0,0,.1);"></div>
      <a href="#test3">
        <span>22 Mai 2018</span><br/>
        <span>Cinéma</span><br/>
        <span>Il y a le nouveau marvel !!!</span>
      </a>
    </div>-->
  </div>
</form>
