<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Fil</a>
      <a class="nav-item nav-link" [routerLink]="['/planning']" routerLinkActive="router-link-active" >Calendar</a>
      <a class="nav-item nav-link" [routerLink]="['/profil']" routerLinkActive="router-link-active" >Profil</a>
    </div>
  </div>

  <div style="margin-right: 15px;">
    <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Add group"  [(ngModel)]="iptAddGroup" >
        <p-button icon="fa fa-plus"
               (click)="addGroup()" [disabled]="iptAddGroup.length < 3">
        </p-button>
    </div>
</div>
  <app-list-group [newGroup]="group$ | async"></app-list-group>

</nav>
