<div class="list-group list-group-flush">
  <a routerLink="personal-information" class="list-group-item list-group-item-action">Personal information</a>
  <a routerLink="group" class="list-group-item list-group-item-action">Group</a>
  <a routerLink="users" class="list-group-item list-group-item-action">Users</a>
</div>
