<!--<p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>-->
<full-calendar defaultView="dayGridMonth"
              [defaultDate]="defaultDate"
              selectable="true"
              [plugins]="calendarPlugins"
              [header]="options.header"
              [events]="planningEvent"
              (eventClick)="eventClick($event)"
              (select)="handleSelect($event)"
              [locale]="locale"
              #calendar></full-calendar>

              <app-modal-event [display]="displayModalEvent"
                 [inptEvent]="selectedEventEvent"
                 (closeModalEvent)="onCloseModalEvent($event)"
                 (eventUpdated)="onEventUpdated($event)"
                 (eventDelete)='onEventDelete($event)'>
</app-modal-event>

<app-modal-availability [display]="displayModalAvailability"
                        [inptEvent]="selectedEvent"
                        (closeModalAvailability)="onCloseModalAvailability($event)"
                        (eventAvailabilityAddedOrUpdated)='onEventAvailabilityAddedOrUpdated($event)'
                        (eventAvailabilityDelete)='onEventAvailabilityDelete($event)'>
</app-modal-availability>
