<p-dialog [(visible)]="display" (onHide)="closeModal()" [contentStyle]="{height: '500px', width: '600px'}" >

  <p-header>Current values</p-header>

  <form [formGroup]="form">
    <div class="form-group">
      Select your availabilities or your unavailabilities.
    </div>
    <div class="form-group">
      <p-selectButton [options]="availabilities" formControlName="type"></p-selectButton>
    </div>

    <div class="form-group">
      <span class="display-block">Start</span>
      <p-calendar formControlName="start" appendTo="body"></p-calendar>
    </div>
    <div class="form-group">
      <span class="display-block">End</span>
      <p-calendar formControlName="end" appendTo="body"></p-calendar>
    </div>
  </form>

  <p-footer>
      <p-button [label]="(eventToUpdate.id == null) ? 'Create' : 'Update'" [disabled]="!form.valid || (form.errors != null && form.errors['formNotComplete'])" (click)="onSubmit()"></p-button>
      <p-button label="Delete" (click)="onDelete()" *ngIf="eventToUpdate.id != null"></p-button>
  </p-footer>

</p-dialog>
