<p-dialog [(visible)]="display" (onHide)="closeModal()" [contentStyle]="{height: '500px', width: '600px'}" >

  <p-header>Current values</p-header>

  <form [formGroup]="form">
    <div class="form-group">
      Select your availabilities or your unavailabilities.
    </div>

    <div *ngIf="form.errors != null && form.errors['formNotComplete']">
      <span>Tous les champs ne sont pas saisies.</span>
    </div>
    <div *ngIf="form.errors != null && form.errors['formDateIncorrect']">
      <span>Vérifier la saisie des dates.</span>
    </div>

    <div class="form-group">
      <span class="display-block">Start</span>
      <p-calendar formControlName="start" appendTo="body"></p-calendar>
    </div>
    <div class="form-group">
      <span class="display-block">End</span>
      <p-calendar formControlName="end" appendTo="body"></p-calendar>
    </div>

    <div class="form-group">
      <span class="display-block">Description</span>
      <textarea rows="5" cols="62" pInputTextarea style="resize: none;" formControlName="message"></textarea>
    </div>

    <div class="form-group">
      <label class="display-block">Add requests type</label>
      <input type="text" [(ngModel)]="propetierRequestType" [ngModelOptions]="{standalone: true}" maxlength='25' pInputText />
      <p-button [disabled]="propetierRequestType.length < 3 || propetierRequestType.length > 25" label="Add" (onClick)="addRequestType()"></p-button>
    </div>

    <div class="form-group">
      <div *ngFor='let requestType of requestsType; let i = index'>
        <span style='margin-right: 10px; color: red;'>{{requestType}} <i (click)="removeRequestType(i)">X</i></span>
      </div>
    </div>

  </form>

  <p-footer>
      <p-button label="Update" [disabled]="!form.valid || (form.errors != null && form.errors['formNotComplete'])" (click)="onSubmit()"></p-button>
      <p-button label="Delete" (click)="onDelete()" *ngIf="eventToUpdate.id != null"></p-button>
  </p-footer>

</p-dialog>
