<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> social-center.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
