.split-profil {
  display: flex;
  min-height: 75vh;
  background-color: #f2f2f2;
  padding: 5px;
}

.item:nth-of-type(1) {
  flex: 1;
  padding: 5px;
}

.item:nth-of-type(2) {
  flex: 2;
  padding: 5px;
}
