<!--<p-dropdown [options]="groups$ | async" optionLabel="name" [(ngModel)]="selectedGroup">-->
 <!---  <ng-template let-group pTemplate="group">

     <ng-container *ngIf="group.picture != null then tmpPicture else tmpGenerated"></ng-container>

      <ng-template #tmpPicture>
          <img src="data:image/png;base64, {{group.name}}" style="width:24px;position:absolute;top:1px;left:5px"/>
          <div style="font-size:14px;float:right;margin-top:4px">{{group.name}}</div>
      </ng-template>

      <ng-template #tmpGenerated>-->
          <!---<div class="svg" [innerHTML]="generateIcon(item.name)" style="width:16px;vertical-align:middle"></div>
          <img src="assets/images/no_picture.png"  style="width:24px;position:absolute;top:1px;left:5px" />
          <span style="vertical-align:middle; margin-left: .5em">{{group.name}}</span>-->
      <!---  </ng-template>

  </ng-template>-->

<!--
  <ng-template let-group pTemplate="group">
      <img src="assets/images/no_picture.png" style="width:20px;vertical-align:middle" />
      <span style="margin-left:.25em">{{group.name}}</span>
  </ng-template>
</p-dropdown>-->


<p-dropdown [options]="groups$ | async" optionLabel="name" [(ngModel)]="selectedGroup" (onChange)="changeGroup()"></p-dropdown>
